body{
  background-image: url('icons/bg4.jpg');
  background-size: cover;
}

img{
  background: none;
  width: 14.3vw;
  position: absolute;
  left: 6vw;
  border-radius: 3vw;
  padding: 50px;
  padding-top: 105px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5vw;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color:white;
  }
  
  header h2 {
    font-size: 1vw;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    color:white;
  }
  


  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 15vw;
    padding: 11px;
    margin-right: 9px;
    border-radius: 2vw;

  }
  
  .search-button {
    padding: 12px 20px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2vw;
    width : 8vw;
    font-size: 15px;
  }

  .search-button:hover{
    
    box-shadow: 1px 1px 4px 2px rgba(255, 255, 255, 0.7);
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la vidéo sur 100% de la hauteur de la fenêtre */
    margin-left: 40vw;
    margin-top: 10vh;
}

#videoSource {
    width: 73%;
    height: 73vh;
    margin-left: 0vw;
    margin-top: 2vh;
    border: 2px solid white; /* Contour noir */
    border-radius: 1vw;
    background-image: url('icons/video.jpg');
    background-size:cover;
}

#subtitlesContainer {
  position: relative;
  width: 25.8%; /* Largeur du rectangle */
  height: 73vh; /* Hauteur du rectangle */
  float: right;
  border: 2px solid white; /* Contour noir */
  margin-top: 1vw;
  text-align: center;
  border-radius: 1vw;
}

#subtitlesContainer h2 {
  margin: 0;
  padding: 17px;
  font-size: 1.3vw;
  border-bottom: 2px solid white; /* Ligne du contour noir en bas du titre */
  color: white;
  border-radius: 1vw;
  font-family: 'Poppins', sans-serif;
}

#subtitlesContainer .subtitles {
  padding: 11px;
  font-size: 1.1vw;
  height: 64vh;
  border-radius: 1vw;
  color:white;
}